// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// indexページレイアウト
h1 {
  margin: 0.67em 0;
}

th {
  padding: 1px 5px 5px 5px;
}

td {
  padding: 1px 5px 7px 5px;
}

h2 {
  margin: 0.83em 0;
}


// showページのレイアウト
.book-content {
  padding-left: 33px;
  padding-bottom: 33px;
}

// editページのレイアウト
.submit-btn {
  margin-bottom: 10px;
}
