// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-size: 2em;
}

p {
  font-size: 13px;
  margin: 33px;
}

a {
  font-size: 13px;
  margin: 33px;
}